* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #a364ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input_btn {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}

#input {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

#addBtn {
  padding: 0.75rem 1.2rem;
  background-color: #6c35de;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#addBtn:hover {
  background-color: #8a5dff;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e9f5ee;
  padding: 0.75rem 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
}

#list li .linethrough {
  text-decoration: line-through;
}

.deleBtn {
  background-color: transparent;
  border: none;
  color: #ff4b4b;
  cursor: pointer;
  font-weight: bold;
  display: inline;
}